.root {
   display: flex;
   flex-direction: column;
   gap: rem(40);
   width: 100%;
   padding: rem(24);
   border: 2px solid var(--black-100);
   border-radius: rem(8);

   h2 {
      @include h3;
   }

   h3 {
      @include h3;
   }

   .form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
   }
}
