.container {
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
   width: 100%;

   textarea {
      min-height: rem(120);
      padding: rem(12) rem(24);
      border: 1px solid var(--black-100);

      @include body-m;

      @include mobile {
         padding: rem(8) rem(12);
      }
   }

   .label,
   .errorMessage {
      @include body-s;

      color: var(--black-64);
   }

   .errorMessage {
      color: var(--red);
   }

   &:has(.errorMessage) {
      textarea {
         color: var(--red);
         border-color: var(--red);
      }
   }
}
